[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
bandit = "*"
hypothesis = "*"
ipykernel = "*"
isort = "*"
pep8 = "*"
prospector = "*"
pydocstyle = "*"
pylama = "*"
pylint = "*"
pytest = "*"

[packages]
bottle = "*"
ipython = "*"

[requires]
python_version = "3.7"
