[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
hypothesis = "*"
pep8 = "*"
pydocstyle = "*"
prospector = "*"
pylama = "*"
pylint = "*"
autopep8 = "*"

[packages]

[requires]
python_version = "3.6"
